{% extends 'base.html' %}

{% block title %}
PyStocks - Graph
{% endblock %}
{% block head %} {{ super() }} {% endblock %}


{% block main %}
<style>
    .graph-container {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    }
    @media (max-width: 480px) {
         .graph-container {
              position: relative;
              overflow: hidden;
              width: 100%;
              padding-top: 100%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
            }
    }

    .responsive-graph {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
    .rcorners {
        border-radius: 15px;
        border: 2px solid var(--theme-color);

    }
</style>

<div class="pt-5">
        <form method="POST" action="/new">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Stock Ticker(Abbreviation)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ticker" placeholder="Ticker" style="width:50%;">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">From:</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control" name="from-date" placeholder="from-date" style="width:60%;">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">To:</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control" name="to-date" placeholder="to-date" style="width:60%;">
                </div>
            </div>
            {% if error %}
            <div class="form-group row">
                <div class="col-sm-10">
                    <label class="col-sm-12 col-form-label" style="color:red;">{{ error }}</label>
                </div>
            </div>
            {% endif %}
            <div class="form-group row pt-4">
                <div class="col-sm-10">
                    <button type="submit" class="btn theme-color-btn btn-lg">Get</button>
                </div>
            </div>
        </form>
    {% if not error and graph_json %}
    <div class = "graph-container mt-5 mb-5 rcorners">
        <div id='chart' class='chart responsive-graph'></div>
    </div>
    {% else %}
    <div style = "margin-top: 80%;"></div>
    {% endif %}
</div>

{% if not error %}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
      var graphs = {{graph_json | safe}};
      Plotly.plot('chart',graphs,{});
</script>
{% endif %}

{% endblock %}
