{% extends 'base.html' %}

{% block title %}
PyStocks - Home
{% endblock %}
{% block head %} {{ super() }} {% endblock %}


{% block main %}
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Interactive Visual Stocks</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Get the stock shares of any company you choose, in an interactive visual graph with the power of python</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a type="button" href="{{ url_for('graph_page') }}" class="btn theme-color btn-outline btn-lg px-4 me-sm-3">Go now!</a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="{{ url_for( 'static' , filename='res/img/stock-sample.png') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Stock image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ url_for( 'static' , filename='res/img/plotly_2017.png') }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Powered by Plotly on Python</h1>
        <p class="lead">Plotly is the interactive, high-level, declarative charting library, running on Python</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" href="https://plotly.com/" class="btn theme-color btn-lg px-4 me-md-2">Plotly for Python</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
